#maincontent {
  display:flex;
  flex-wrap: wrap;
}

#map-container {
  width: 100%;
  height: 50vh;
}

#restaurants-container {
  width: 100%;
}

.filter-options {
  width: 100%;
  display: inline-flex;
  background-color: #26f;
  height: 50px;
}

.dropbtn {
  font-size: 20px;
}

option {
  padding: 5px 5px;
  font-size: 16px;
}

.restaurant-box {
  display: inline-flex;
  flex-wrap: wrap;
  width: 80%;
  height: 400px;
  margin: 10px auto;
}

.restaurant-img, .restaurant-info {
  width: 100%;
}

@media only screen and (min-width: 500px) {
  .restaurant-img, .restaurant-info {
    width: 49%;
    margin-left: auto;
    margin-right: auto;
  }

  .restaurant-box {
    height: 250px;
  }
}




@media only screen and (min-width: 800px) {
  .filter-options {
    display: block;
    text-align: left;
  }

  .restaurant-box {
    width: 40%;
    height: 420px;
    margin-left: auto;
    margin-right: auto;
  }

  .restaurant-img, .restaurant-info {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .restaurant-img {
    height:  240px;
  }

  .restaurant-info {
    height:  150px;
  }
}

@media only screen and (min-width: 1000px) {
  body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1500px) {

    .restaurant-box {
      width: 25%;
      height: 420px;
      margin-left: auto;
      margin-right: auto;
    }
}


@media only screen and (min-width: 2000px) {

    .restaurant-box {
      width: 20%;
      height: 420px;
      margin-left: auto;
      margin-right: auto;
    }
}
